<div class="fares">		
	<div class="wrap">
		<div class="container">
			<div class="col first">					
					
				<div class="yts-trip--lg__yts-summary">
                    <table class="yts-summary">
                        <tbody>
                            <tr>
                                <td class="image" colspan="3"><img src="{{image01}}"/></td>
                            </tr>
                            <tr>
                                <td class="fromto is-dest is-from">{{image01headerfrom}}</td>
                                <td class="fromto is-arr">-</td>
                                <td class="fromto is-dest is-to">{{image01headerto}}</td>
                            </tr>
                            <tr>
                            	<td class="price" colspan="3">{{image01subheader}}</td>
                            </tr>
                            <tr>
                            	<td class="compare" colspan="3">{{{image01text}}}</td>
                            </tr>
                            <tr>
                            	<td class="button" colspan="3"><a href="{{image01btlink}}" rel=”nofollow”>{{image01bttext}}</a></td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>				
			</div>
			<div class="col second">					
				
				

				<div class="yts-trip--lg__yts-summary">
                    <table class="yts-summary">
                        <tbody>
                            <tr>
                                <td class="image" colspan="3"><img src="{{image02}}"/></td>
                            </tr>                            
                            <tr>
                                <td class="fromto is-dest is-from">{{image02headerfrom}}</td>
                                <td class="fromto is-arr">-</td>
                                <td class="fromto is-dest is-to">{{image02headerto}}</td>
                            </tr>
                            <tr>
                            	<td class="price" colspan="3">{{image02subheader}}</td>
                            </tr>
                            <tr>
                            	<td class="compare" colspan="3">{{{image02text}}}</td>
                            </tr>
                            <tr>
                            	<td class="button" colspan="3"><a href="{{image01btlink}}" rel=”nofollow”>{{image02bttext}}</a></td>
                            </tr>	                            
                        </tbody>
                    </table>
                </div>
									
			</div>
			<div class="col third">					
				
				

				<div class="yts-trip--lg__yts-summary">
                    <table class="yts-summary">
                        <tbody>
                            <tr>
                                <td class="image" colspan="3"><img src="{{image03}}"/></td>
                            </tr>                            
                            <tr>
                                <td class="fromto is-dest is-from">{{image03headerfrom}}</td>
                                <td class="fromto is-arr">-</td>
                                <td class="fromto is-dest is-to">{{image03headerto}}</td>
                            </tr>
                            <tr>
                            	<td class="price" colspan="3">{{image03subheader}}</td>
                            </tr>
                            <tr>
                            	<td class="compare" colspan="3">{{{image03text}}}</td>
                            </tr>
                            <tr>
                            	<td class="button" colspan="3"><a href="{{image01btlink}}" rel=”nofollow”>{{image03bttext}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
								
			</div>
		</div>		
	</div>	
</div>