<div class="header-stacked">
	<div class="container">
		<div class="col first {{bgcolor01}}">
			<div class="wrap">		
				<h2 class="heading">{{headingtext01}}</h2>
				<p class="subheading">{{subheadingtext01}}</p>
				<a href="">{{bttext01}}</a>
			</div>
		</div>
		<div class="col second {{bgcolor02}}">
			<div class="wrap">		
				<h2 class="heading">{{headingtext02}}</h2>
				<p class="subheading">{{subheadingtext02}}</p>
				<a href="">{{bttext02}}</a>
			</div>
		</div>		
	</div>	
</div>