<div class="two-up {{backgroundcolor}} {{side}}">
	<div class="wrap">
		<div class="container">
			<div class="col col-text {{backgroundcolor}}">
				<div class="centered">
					<h2 class="heading">{{headingtext}}</h2>
					<p class="subheading">{{subheadingtext}}</p>
					<a href="">{{bttext}}</a>
				</div>
			</div>
			<div class="col col-image">
				<img src="{{image}}" alt="">
			</div>
		</div>
	</div>
</div>