<footer role="contentinfo" data-vx-common-footer=""><div bindonce="" class="wrap">
    <div class="footer-wrap" ng-switch="footer.breakpoint">
        <!-- ngSwitchWhen: small --><div ng-switch-when="small">
            <nav class="footer-nav cf">
                <!-- ngRepeat: linkGroup in footer.links[0] --><ul class="footer-nav__list ng-scope" ng-rrepeat="linkGroup in footer.links[0]">
                    <!-- ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                        <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/sitemap">Site Map</a>
                    </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                        <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/">Contact Us</a>
                    </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                        <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/about-our-airline">About Us</a>
                    </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                        <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/about-our-airline/press">Press</a>
                    </li><!-- end ngRepeat: link in linkGroup -->
                </ul><!-- end ngRepeat: linkGroup in footer.links[0] -->
                <!-- ngRepeat: linkGroup in footer.links[5] --><ul class="footer-nav__list ng-scope" ng-rrepeat="linkGroup in footer.links[5]">
                    <!-- ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                        <a ng-href="\{{link.url}}" rel="me" bo-text="link.name" target="_self" href="http://instagram.com/virginamerica">Instagram</a>
                    </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                        <a ng-href="\{{link.url}}" rel="me" bo-text="link.name" target="_self" href="https://twitter.com/VirginAmerica">Twitter</a>
                    </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                        <a ng-href="\{{link.url}}" rel="me" bo-text="link.name" target="_self" href="https://www.facebook.com/VirginAmerica">Facebook</a>
                    </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                        <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="https://www.youtube.com/user/VirginAmerica">Youtube</a>
                    </li><!-- end ngRepeat: link in linkGroup -->
                </ul><!-- end ngRepeat: linkGroup in footer.links[5] -->
                <div class="footer-nav__select">
                    <a href="#" class="btn--select" ng-click="footer.openFooterModal()">More Options</a>
                </div>
            </nav>
        </div>
        <!-- ngSwitchWhen: medium --><div ng-switch-when="medium">
            <nav class="footer-nav cf">
                <div class="footer-nav__list-wrap">
                    <!-- ngRepeat: linkGroup in footer.links[0] --><ul ng-rrepeat="linkGroup in footer.links[0]">
                        <!-- ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/sitemap">Site Map</a>
                        </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/">Contact Us</a>
                        </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/about-our-airline">About Us</a>
                        </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/about-our-airline/press">Press</a>
                        </li><!-- end ngRepeat: link in linkGroup -->
                    </ul><!-- end ngRepeat: linkGroup in footer.links[0] -->
                    <!-- ngRepeat: linkGroup in footer.links[4] --><ul ng-rrepeat="linkGroup in footer.links[4]">
                        <!-- ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/elevate-frequent-flyer">What Is Elevate?</a>
                        </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/elevate-frequent-flyer/credit-card">Virgin America Credit Card</a>
                        </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/advertise-onboard">Advertise Onboard</a>
                        </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/corporate-responsibility">Corporate Responsibility</a>
                        </li><!-- end ngRepeat: link in linkGroup -->
                    </ul><!-- end ngRepeat: linkGroup in footer.links[4] -->
                </div>
                <div class="footer-nav__list-wrap">
                    <!-- ngRepeat: linkGroup in footer.links[1] --><ul ng-rrepeat="linkGroup in footer.links[1]">
                        <!-- ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/blog">Blog</a>
                        </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/airline-jobs">Careers</a>
                        </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/corporate-travel">Corporate Travel</a>
                        </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/corporate-travel/travel-agents">Travel Agents</a>
                        </li><!-- end ngRepeat: link in linkGroup -->
                    </ul><!-- end ngRepeat: linkGroup in footer.links[1] -->
                    <!-- ngRepeat: linkGroup in footer.links[3] --><ul ng-rrepeat="linkGroup in footer.links[3]">
                        <!-- ngRepeat: link in linkGroup | limitTo:3 --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup | limitTo:3">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="https://elevate.virginamerica.com/pub/sf/ResponseForm?_ri_=X0Gzc2X%3DWQpglLjHJlYQGn0oWPReMY4XDaNwzdUWuzby0minVXMtX%3DWQpglLjHJlYQGiTzdzegm6dhzeeqzbYgKaeKzd0SzdkO&amp;_ei_=EqJbYT9NhKIwWY6KwuLgbGM">Email Unsubscribe</a>
                        </li><!-- end ngRepeat: link in linkGroup | limitTo:3 --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup | limitTo:3">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/legal/privacy-policy">Privacy Policy</a>
                        </li><!-- end ngRepeat: link in linkGroup | limitTo:3 --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup | limitTo:3">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/travel-guard">Travel Insurance</a>
                        </li><!-- end ngRepeat: link in linkGroup | limitTo:3 -->
                    </ul><!-- end ngRepeat: linkGroup in footer.links[3] -->
                </div>
                <div class="footer-nav__list-wrap">
                    <!-- ngRepeat: linkGroup in footer.links[2] --><ul ng-rrepeat="linkGroup in footer.links[2]">
                        <!-- ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/legal/guest-service-commitment">Guest Service Commitment</a>
                        </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/contract-carriage/">Contract of Carriage</a>
                        </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/contact-carriage-intl/">Int’l Contract of Carriage</a>
                        </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/corporate-travel/groups-meetings">Group Travel</a>
                        </li><!-- end ngRepeat: link in linkGroup -->
                        <li class="footer-nav__item">
                            <a href="/fees">Fees</a>
                        </li>
                        <li class="footer-nav__item">
                            <a href="/faq">FAQ</a>
                        </li>
                    </ul><!-- end ngRepeat: linkGroup in footer.links[2] -->
                </div>
                <div class="footer-nav__list-wrap">
                    <!-- ngRepeat: linkGroup in footer.links[5] --><ul ng-rrepeat="linkGroup in footer.links[5]">
                        <!-- ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" rel="me" bo-text="link.name" target="_self" href="http://instagram.com/virginamerica">Instagram</a>
                        </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" rel="me" bo-text="link.name" target="_self" href="https://twitter.com/VirginAmerica">Twitter</a>
                        </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" rel="me" bo-text="link.name" target="_self" href="https://www.facebook.com/VirginAmerica">Facebook</a>
                        </li><!-- end ngRepeat: link in linkGroup --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup">
                            <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="https://www.youtube.com/user/VirginAmerica">Youtube</a>
                        </li><!-- end ngRepeat: link in linkGroup -->
                        <li class="footer-nav__item">
                            <a href="/news" target="_self">News &amp; Updates</a>
                        </li>
                    </ul><!-- end ngRepeat: linkGroup in footer.links[5] -->
                </div>
            </nav>
        </div>
        <!-- ngSwitchWhen: large --><nav class="footer-nav cf ng-scope" ng-switch-when="large">
            <!-- ngRepeat: linkGroup in footer.links --><ul class="footer-nav__list ng-scope" bindone="" ng-rrepeat="linkGroup in footer.links" bo-class="footer.getOmega($index)">
                <!-- ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/sitemap">Site Map</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/">Contact Us</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/about-our-airline">About Us</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/about-our-airline/press">Press</a>
                </li><!-- end ngRepeat: link in linkGroup.group -->
            </ul><!-- end ngRepeat: linkGroup in footer.links --><ul class="footer-nav__list ng-scope" bindone="" ng-rrepeat="linkGroup in footer.links" bo-class="footer.getOmega($index)">
                <!-- ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/blog">Blog</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/airline-jobs">Careers</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/corporate-travel">Corporate Travel</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/corporate-travel/travel-agents">Travel Agents</a>
                </li><!-- end ngRepeat: link in linkGroup.group -->
            </ul><!-- end ngRepeat: linkGroup in footer.links --><ul class="footer-nav__list ng-scope" bindone="" ng-rrepeat="linkGroup in footer.links" bo-class="footer.getOmega($index)">
                <!-- ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/legal/guest-service-commitment">Guest Service Commitment</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/contract-carriage/">Contract of Carriage</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/contact-carriage-intl/">Int’l Contract of Carriage</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/corporate-travel/groups-meetings">Group Travel</a>
                </li><!-- end ngRepeat: link in linkGroup.group -->
            </ul><!-- end ngRepeat: linkGroup in footer.links --><ul class="footer-nav__list ng-scope" bindone="" ng-rrepeat="linkGroup in footer.links" bo-class="footer.getOmega($index)">
                <!-- ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="https://elevate.virginamerica.com/pub/sf/ResponseForm?_ri_=X0Gzc2X%3DWQpglLjHJlYQGn0oWPReMY4XDaNwzdUWuzby0minVXMtX%3DWQpglLjHJlYQGiTzdzegm6dhzeeqzbYgKaeKzd0SzdkO&amp;_ei_=EqJbYT9NhKIwWY6KwuLgbGM">Email Unsubscribe</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/legal/privacy-policy">Privacy Policy</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/travel-guard">Travel Insurance</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/about-our-airline/news">All News &amp; Updates</a>
                </li><!-- end ngRepeat: link in linkGroup.group -->
            </ul><!-- end ngRepeat: linkGroup in footer.links --><ul class="footer-nav__list ng-scope" bindone="" ng-rrepeat="linkGroup in footer.links" bo-class="footer.getOmega($index)">
                <!-- ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/elevate-frequent-flyer">What Is Elevate?</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/elevate-frequent-flyer/credit-card">Virgin America Credit Card</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/advertise-onboard">Advertise Onboard</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="/cms/corporate-responsibility">Corporate Responsibility</a>
                </li><!-- end ngRepeat: link in linkGroup.group -->
            </ul><!-- end ngRepeat: linkGroup in footer.links --><ul class="footer-nav__list ng-scope is-omega" bindone="" ng-rrepeat="linkGroup in footer.links" bo-class="footer.getOmega($index)">
                <!-- ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" rel="me" bo-text="link.name" target="_self" href="http://instagram.com/virginamerica">Instagram</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" rel="me" bo-text="link.name" target="_self" href="https://twitter.com/VirginAmerica">Twitter</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" rel="me" bo-text="link.name" target="_self" href="https://www.facebook.com/VirginAmerica">Facebook</a>
                </li><!-- end ngRepeat: link in linkGroup.group --><li class="footer-nav__item ng-scope" ng-rrepeat="link in linkGroup.group">
                    <a ng-href="\{{link.url}}" bo-text="link.name" target="_self" href="https://www.youtube.com/user/VirginAmerica">Youtube</a>
                </li><!-- end ngRepeat: link in linkGroup.group -->
            </ul><!-- end ngRepeat: linkGroup in footer.links -->
        </nav>
        <div class="footer-copy">
            © <span bo-text="footer.year | date:'yyyy'">2014</span> Virgin America
        </div>
    </div>
</div>
</footer>