---
headerlarge1:
  bgcolor: comp-bg-red
  headingtext: Elevate Golden
  subheadingtext: Start earning points, perks, and reward points with no blackouts.

headerlargelogo:
  bgcolor: comp-bg-red  
  subheadingtext: Start earning points, perks, and reward points with no blackouts.

headerstacked:
  bgcolor01: comp-bg-silver
  headingtext01: Elevate Silver
  subheadingtext01: 20,000 Status Points
  bttext01: Learn More
  bgcolor02: comp-bg-gold
  headingtext02: Elevate Gold
  subheadingtext02: 50,000 Status Points
  bttext02: Learn More

headermedium:
  headingtext: Redeem Points
  subheadingtext: Get closer to your next reward flight by doing the things you do everyday. Eaarn Elevate points and get exclusive deals from Virgin America partners. Keep checking in to find out about more partners to come.

headernormal:
  headingtext: Deals from Austin
  subheadingtext: Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris.

navrow01:
  backgroundcolor: comp-bg-red
navrow02:
  backgroundcolor: comp-bg-white
navrow03:
  backgroundcolor: comp-bg-silver
navrow04:
  backgroundcolor: comp-bg-gold

textbody01:
  textcolor: red
  text: "
      <p><span class='heading'>Portico is the private club that puts the ‘ahh’ in vacation. With spacious homes in 70 of the world’s most sought-after destinations, you can start relaxing before you even arrive.</span></p>
      <p>&nbsp;</p>
      <p></p><h2 class='subheading'>Luxury Travel. Reinvented.</h2><p></p>
      <p></p><p>Being on vacation isn’t good enough. We know you deserve to be in vacation. That’s why Portico combines luxury resort-style services and customized pre-trip planning with hundreds of the best homes in the world’s most sought-after destinations. So you’re free to truly detach and be completely immersed in every moment with your loved ones. After all, vacations are about more than just getting away. They’re about getting together.</p><p></p>
      <iframe width='100%' height='315' src='//www.youtube.com/embed/u_4T2ieiVZI?list=PL9E24FB48BDD89080' frameborder='0' allowfullscreen=''></iframe>
      <p><br>
      </p><h2 class='subheading'>Free Upgrades to Main Cabin Select</h2><p></p>
      <p>Opt in for free upgrades to Main Cabin Select when there’s space available.</p>
      <ul>
        <li>If you’re flying solo, you’ll have the chance to opt in for an upgrade while you book your flight online, through an authorized travel agent, or when booking through the Virgin America Call Center, and we’ll update your flight status with your new cabin (if available) up to two hours before departure.</li>
        <li><a href='http://google.com'>Since the upgrades are automatic</a>, we can’t guarantee availability of any previously selected Main Cabin seats once you’ve been assigned a spot in Main Cabin Select.
        <ul>
          <li>Bullet two</li>
          <li>a</li>
          <li>a</li>
        </ul>
        </li>
        <li>asdasda</li>
        <li>If you’re upgraded to Main Cabin Select when you have already checked in for your flight, you’ll need to check in again online or at the airport to select your new seat in Main Cabin Select.</li>
      </ul>
"

textbody02:
  textcolor: purple
  text: "<h1 class='heading'>Portico is the private club that puts the ‘ahh’ in vacation. With spacious homes in 70 of the world’s most sought-after destinations, you can start relaxing before you even arrive.</h1><h2 class='subheading'>Luxury Travel. Reinvented.</h2><p>Being on <a href='#'>vacation isn’t good enough</a>. We know you deserve to be in vacation. That’s why Portico combines luxury resort-style services and customized pre-trip planning with hundreds of the best homes in the world’s most sought-after destinations. So you’re free to truly detach and be completely immersed in every moment with your loved ones. After all, vacations are about more than just getting away. They’re about getting together.</p><h2 class='subheading'>Free Upgrades to Main Cabin Select</h2><p>Opt in for free upgrades to Main Cabin Select when there’s space available.</p><ul><li>If you’re flying solo, you’ll have the chance to opt in for an upgrade while you book your flight online, through an authorized travel agent, or when booking through the Virgin America Call Center, and we’ll update your flight status with your new cabin (if available) up to two hours before departure.</li><li>Since the upgrades are automatic, we can’t guarantee availability of any previously selected Main Cabin seats once you’ve been assigned a spot in Main Cabin Select.</li><li>If you’re upgraded to Main Cabin Select when you have already checked in for your flight, you’ll need to check in again online or at the airport to select your new seat in Main Cabin Select.</li></ul>"

twoupleft:
  side: left
  backgroundcolor: comp-bg-xxlightgrey
  image: ../images/sample_686x586.png
  headingtext: Elevate Status
  subheadingtext: Elevate points are yours, for as long as you want. Maecenas faucibus mollis interdum quo usque tandem abutere.
  bttext: Learn More

twoupright:
  side: right
  backgroundcolor: comp-bg-white
  image: ../images/sample_686x586.png
  headingtext: Elevate Status
  subheadingtext: Elevate points are yours, for as long as you want. Maecenas faucibus mollis interdum quo usque tandem abutere.
  bttext: Learn More

spacer:
  varheight: 30px
  varheighthalf: 15px

oneup:
  ouimage: ../images/sample_2000x665.jpg
  ouheader: How To Earn Points
  oubutton: Learn More

logo:
  ouimage: ../images/sample_380x214.png

threeup01:
  icon: 1
  image: 0
  nobody: 0
  noimage: 0
  border: border-bottom

threeup02:
  icon: 0
  image: 1
  nobody: 0
  noimage: 0
  border: border-bottom

threeup03:
  icon: 0
  image: 0
  nobody: 1
  noimage: 0
  border: border-top

threeup04:
  icon: 0
  image: 0
  nobody: 0
  noimage: 1

imageteaser:

  headingtext: Image Teaser Heading
  bttext: Learn More
  image01: images/sample_380x214.png
  image02: images/sample_380x214.png
  image03: images/sample_380x214.png

fares:

  image01: images/sample_round_120x120.png
  image01headerfrom: AUS
  image01headerto: PDX
  image01subheader: FROM $89
  image01text: Compare at $96*
  image01bttext: Book
  image01btlink: http://www.work.com
  image02: images/sample_round_120x120.png
  image02headerfrom: AUS
  image02headerto: SFO
  image02subheader: FROM $109
  image02text: Compare at $126*
  image02bttext: Book
  image02btlink: http://www.work.com
  image03: images/sample_round_120x120.png
  image03headerfrom: AUS
  image03headerto: SFO
  image03subheader: FROM $179
  image03text: Compare at $210*
  image03bttext: Book
  image03btlink: http://www.work.com

faq01:
  faqtitle: San Francisco Quick Answers
  faqcontent: "<h2>Where do I drop off travelers for their flight?</h2><p>The Virgin America ticket counter is located in <a href='#'>Terminal 2</a>. All domestic and international flights will depart from Terminal 2. Learn more</p><h2>Which gates does Virgin America use?</h2><p>Virgin America uses gates 50-54B for all departures (Mexico included) and domestic arrivals. For Mexico arrivals, Virgin America will continue to use gates in the International Terminal, which includes Concourses A and G.</p><h2>What am I allowed to take through the security checkpoint and carry on the airplane?</h2><p>Learn more about prohibited items at the TSA website.</p><h2>What kinds of items can I check in my luggage?</h2><p>Learn more about potentially hazardous materials not allowed in checked baggage at the TSA's Hazardous Materials guide.</p><h2>Where is the Virgin Atlantic Clubhouse located?</h2><p>The clubhouse is located on the 5th floor of the International Terminal. To get there, take the elevator adjacent to the Museum by the security gates.</p><h2>Where do international flights arrive and depart?</h2>   <p>Arrival flights from Cancun and Los Cabos arrive in the International Terminal, but all other arrivals and departures (Cancun and Los Cabos departures included) can be found in Terminal 2. Learn more.</p><h2>How do I get between the International Terminal and T2?</h2><p>The best option is to take the AirTrain between the two terminals. Please follow signage in each terminal to the closest AirTrain station. Learn more.</p><h2>Where can I learn more about the new Terminal 2?</h2><p>Learn more about Virgin America’s newest terminal at our T2 information page.</p><h2>Is TSA Pre-Check™ expedited screening available at San Francisco International Airport?</h2><p>TSA Pre-Check™ expedited screening benefits are available for eligible guests. Click Here for more details.</p>"

headerselector01:
  maincolor: red


headerselector02:
  maincolor: purple

headernews:
  headingtxt: Virgin America reports third quarter 2013 financial results with record
  subheadingtxt: Airline reports 11.5% operating margin and record quarterly net income of $33.5 million
  datetxt: Wednesday, 05/13/2013

calculator01:
  maincolor: red
  id01: radio01
  id02: radio02
  id03: radio03

calculator02:
  maincolor: purple
  id01: radio04
  id02: radio05
  id03: radio06

calculator03:
  maincolor:
  id01: radio07
  id02: radio08
  id03: radio09

---
<style type="text/css">
	.divider{
		clear:both;
		padding-left: 5px;
		font-weight: bold;
		line-height: 60px;
		color: #555555;
		background-color: #eaeaea;
	}
</style>

{{partial 'TwoUp' twoupleft}}
{{partial 'TwoUp' twoupright}}

{{partial 'Calculator' calculator01}}


<!--NAVROW RED-->
{{partial 'NavRow' navrow01}}

<!--HEADER LARGE LOGO-->
<div class="divider">HeaderLargeLogo</div>
{{partial 'HeaderLargeLogo' headerlargelogo }}

<!--HEADER LARGE-->
<div class="divider">HeaderLarge</div>
{{partial 'HeaderLarge' headerlarge1 }}

<!--HEADER STACKED-->
<div class="divider">HeaderStacked</div>
{{partial 'HeaderStacked' headerstacked }}

<!--HEADER MEDIUM-->
<div class="divider">HeaderMedium</div>
{{partial 'HeaderMedium' headermedium}}

<!--HEADER MEDIUM SUBHEAD-->
<div class="divider">HeaderMedium Subhead</div>
{{partial 'HeaderMediumSubhead' headermedium}}

<!--HEADER NORMAL-->
<div class="divider">HeaderNormal</div>
{{partial 'HeaderNormal' headernormal }}

<!--HEADER NORMAL SUBHEAD-->
<div class="divider">HeaderNormal Subhead</div>
{{partial 'HeaderNormalSubhead' headernormal }}

<!--HEADER NEWS-->
<div class="divider">HeaderNews</div>
{{partial 'HeaderNews' headernews }}

<!--CALCULATOR-->
<div class="divider">Calculator Red</div>
{{partial 'Calculator' calculator01}}

<!--CALCULATOR-->
<div class="divider">Calculator Purple</div>
{{partial 'Calculator' calculator02}}

<!--CALCULATOR-->
<div class="divider">Calculator Default</div>
{{partial 'Calculator' calculator03}}

<!--DROPDOWN-->
<div class="divider">DropDown</div>
{{> NavDropDown}}

<!--HEADER SELECTOR RED-->
<div class="divider">HeaderSelector Red</div>
{{partial 'HeaderSelector' headerselector01}}

<!--HEADER SELECTOR PURPLE-->
<div class="divider">HeaderSelector Purple</div>
{{partial 'HeaderSelector' headerselector02}}

<!--HEADER SELECTOR DEFAULT-->
<div class="divider">HeaderSelector Default</div>
{{partial 'HeaderSelector'}}

<!--HEADER SELECTOR ALT-->
<div class="divider">HeaderSelector Alt</div>
{{partial 'HeaderSelectorAlt' headerselector01}}

<!--FAQ-->
<div class="divider">FAQ</div>
{{partial 'faq' faq01}}

<!--NAVROW WHITE-->
<div class="divider">NavRow - White</div>
{{partial 'NavRow' navrow02}}

<!--NAVROW SILVER-->
<div class="divider">NavRow - Silver</div>
{{partial 'NavRow' navrow03}}

<!--NAVROW GOLD-->
<div class="divider">NavRow - Gold</div>
{{partial 'NavRow' navrow04}}





<!--SPACER-->
<div class="divider">Spacer</div>
{{partial 'Spacer' spacer }}

<!--ONE UP-->
<div class="divider">OneUp</div>
{{partial 'OneUp' oneup}}

<!--LOGO-->
<div class="divider">Logo</div>
{{partial 'Logo' logo}}

<!--TWO UP LEFT-->
{{partial 'TwoUp' twoupleft}}

<!--TWO UP RIGHT-->
{{partial 'TwoUp' twoupright}}

<!--THREE UP - ICON-->
<div class="divider">ThreeUp - Icon</div>
{{partial 'ThreeUp' threeup01}}

<!--THREE UP - IMAGE-->
<div class="divider">ThreeUp - Image</div>
{{partial 'ThreeUp' threeup02}}

<!--THREE UP - NO BODY-->
<div class="divider">ThreeUp No Body</div>
{{partial 'ThreeUp' threeup03}}

<!--THREE UP - NO IMAGE-->
<div class="divider">ThreeUp No Image</div>
{{partial 'ThreeUp' threeup04}}

<!--TEXTBODY-->
<div class="divider">TextBody - Red</div>
{{partial 'TextBody' textbody01}}
<div class="divider">TextBody - Purple</div>
{{partial 'TextBody' textbody02}}

<!--FARETABLE-->
<div class="divider">FareTable</div>
{{>TableFares}}

<!--TABLETWOCOLUMN-->
<div class="divider">TableTwoColumn</div>
{{>TableTwoColumn}}

<!--TABLETHREECOLUMN-->
<div class="divider">TableThreeColumn</div>
{{>TableThreeColumn}}

<!--TABLEFOURCOLUMN-->
<div class="divider">TableFourColumn</div>
{{>TableFourColumn}}

<!--PROMOBOX-->
<div class="divider">PromoBox</div>
{{>PromoBox}}

<!--FARES-->
<div class="divider">Fares</div>
{{partial 'Fares' fares }}

<!--IMAGE TEASER-->
<div class="divider">ImageTeaser</div>
{{partial 'ImageTeaser' imageteaser }}




<!--TEXTFOOTER-->
<div class="divider">TextFooter</div>
{{> 'TextFooter'}}
